# editor
.vscode/

# build and distribution files
build/
dist/
src/pypformat.egg-info/

# python virtual environment
*venv*/

# python files
**/__pycache__/
.pytest_cache/
.tox/
.ruff_cache/

# code coverage
.coverage*
coverage.*
coverage_*/

# other
tmp/
